<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>
    <logger name="shopify" level="TRACE" />
    <logger name="tinkl" level="TRACE" />
    <logger name="controllers" level="TRACE" />
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
